:root {
  --white-50: rgb(255 255 255);
  --white-100: rgb(239 239 239);
  --white-200: rgb(220 220 220);
  --white-300: rgb(189 189 189);
  --white-400: rgb(152 152 152);
  --white-500: rgb(124 124 124);
  --white-600: rgb(101 101 101);
  --white-700: rgb(82 82 82);
  --white-800: rgb(70 70 70);
  --white-900: rgb(61 61 61);
  --white-950: rgb(41 41 41);
  
  --black-50: rgb(246 246 246);
  --black-100: rgb(231 231 231);
  --black-200: rgb(209 209 209);
  --black-300: rgb(176 176 176);
  --black-400: rgb(136 136 136);
  --black-500: rgb(109 109 109);
  --black-600: rgb(93 93 93);
  --black-700: rgb(79 79 79);
  --black-800: rgb(69 69 69);
  --black-900: rgb(61 61 61);
  --black-950: rgb(0 0 0);

  --royal-blue-50: rgb(238 244 255);
  --royal-blue-100: rgb(225 234 254);
  --royal-blue-200: rgb(200 217 253);
  --royal-blue-300: rgb(167 190 250);
  --royal-blue-400: rgb(132 154 245);
  --royal-blue-500: rgb(86 105 236);
  --royal-blue-600: rgb(74 82 225);
  --royal-blue-700: rgb(59 63 199);
  --royal-blue-800: rgb(51 57 160);
  --royal-blue-900: rgb(48 53 127);
  --royal-blue-950: rgb(28 30 74);

  --emerald-50: rgb(240 253 245);
  --emerald-100: rgb(220 252 232);
  --emerald-200: rgb(187 247 209);
  --emerald-300: rgb(134 239 173);
  --emerald-400: rgb(74 222 128);
  --emerald-500: rgb(34 197 94);
  --emerald-600: rgb(22 163 74);
  --emerald-700: rgb(21 128 60);
  --emerald-800: rgb(22 101 51);
  --emerald-900: rgb(20 83 43);
  --emerald-950: rgb(5 46 20);

  --chablis-50: rgb(254 242 242);
  --chablis-100: rgb(254 226 226);
  --chablis-200: rgb(254 202 202);
  --chablis-300: rgb(252 165 165);
  --chablis-400: rgb(248 113 113);
  --chablis-500: rgb(239 68 68);
  --chablis-600: rgb(220 38 38);
  --chablis-700: rgb(185 28 28);
  --chablis-800: rgb(153 27 27);
  --chablis-900: rgb(127 29 29);
  --chablis-950: rgb(69 10 10);

  --lightning-yellow-50: rgb(253 251 233);
  --lightning-yellow-100: rgb(252 247 197);
  --lightning-yellow-200: rgb(250 237 142);
  --lightning-yellow-300: rgb(247 219 77);
  --lightning-yellow-400: rgb(243 199 28);
  --lightning-yellow-500: rgb(239 184 16);
  --lightning-yellow-600: rgb(196 135 10);
  --lightning-yellow-700: rgb(156 97 12);
  --lightning-yellow-800: rgb(129 77 18);
  --lightning-yellow-900: rgb(110 63 21);
  --lightning-yellow-950: rgb(64 32 8);


}

body {
  --primary-color: var(--black-950);
  --secondary-color: var(--black-50);
  --gray-cons: var(--black-100);
  --tertiary-color: var(--royal-blue-500);
  --primary-background: var(--white-50);
  --side-width: 65px;
  --succes-background: var(--emerald-200);
  --succes-color: var(--emerald-500);
  --error-background: var(--chablis-200);
  --error-color: var(--chablis-500);
  --yellow-fav: var(--lightning-yellow-500)
  /* 
  --tertiary-color: var(--gray-80);
  --quaternary-color: var(--gray-75);
  --quaternary-background: var(--gray-15);
  --tertiary-background: var(--gray-10);
  --secondary-background: var(--gray-05);
 
  --highlight-color: var(--blue-dark);
  --highlight-background: var(--blue-light);
  --selection-color: var(--blue-dark-translucent);
  --success-color: var(--green-dark);
  --success-background: var(--green-light);
  --danger-color: var(--red-dark);
  --danger-background: var(--red-light);
  --love-color: var(--love-dark);
  --editor-background: var(--editor-background-light); */
}

html {
  font-size: 100%;
}

body, html, .root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  color-scheme: light;
  color: var(--primary-color);
  background-color: var(--primary-background);
  height: 100%;
}

.root {
  height: 100%;
}


@media (prefers-color-scheme: black) {

}
