.alert {
    background-color: var(--black-950);
    color: var(--primary-background);
    position: absolute;
    bottom: 50px;
    left: auto;
    right: auto;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    transition: all 1s ease;
}
.alert p {
    color: var(--primary-background)!important;
}