.confirm-dialog {
    position: relative;
    
}

.confirm-dialog .back-drop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.199);
}

.confirm-dialog .dialog-container {
    position: fixed;
    inset: 0;
    overflow-y: auto;
}

.confirm-dialog .panel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.confirm-dialog .dialog-panel {
    background-color: var(--primary-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    text-align: center;
    width: 400px;
}

.confirm-dialog .dialog-panel h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.confirm-dialog .dialog-actions {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.confirm-dialog .dialog-actions button {
    width: 100%;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: transparent;
    
}

.confirm-dialog .dialog-actions .delete {
    color: var(--primary-background);
    /* border: 1px solid red; */
    background-color: var(--error-color);

}

.confirm-dialog .dialog-actions .cancel {
   
    border: 1px solid var(--gray-cons);
    background-color: transparent;

}
.confirm-dialog .dialog-actions .cancel:hover {

    background-color: var(--gray-cons);
}

.confirm-dialog .dialog-body p {
    color: var(--black-500);
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirm-dialog .dialog-body {
    min-height: 20px;
    margin: 10px 0px;
}

.dialog-animation-enter {
    transition: ease-out 300ms;
}
.dialog-animation-enter-from {
    opacity: 0;
}
.dialog-animation-enter-to {
    opacity: 100;
}
.dialog-animation-leave {
    transition: ease-in 50ms;
}
.dialog-animation-leave-from {
    opacity: 100;
}
.dialog-animation-leave-to {
    opacity: 0;
}

.dialog-panel .icon {
    background-color: var(--error-background);
    color: var(--error-color);
    display: inline-flex;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 20px;
}